<div class="container">
  <div class="starter-template">
    <h1>Wait an Eat</h1>
    <p class="lead">The smart restaurant waiting list</p>
    <button type="button" class="btn btn-primary btn-lg">Get Started Now!</button>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Ditch the clipboard</h2>
      <p>Use our simple app to manage your waiting list from your PC, tablet, or phone.</p>
    </div>
    <div class="col-md-4">
      <h2>Ditch the clipboard</h2>
      <p>Use our simple app to manage your waiting list from your PC, tablet, or phone.</p>
    </div>
    <div class="col-md-4">
      <h2>Ditch the clipboard</h2>
      <p>Use our simple app to manage your waiting list from your PC, tablet, or phone.</p>
    </div>
  </div>
</div>