<form class="form-inline" ng-submit="saveParty()">
        <input ng-model="party.name" type="text" id="inputName" class="form-control" placeholder="Name" required="" autofocus="">

        <input ng-model="party.phone" type="text" id="inputPhonenumber" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength ng-valid-pattern" placeholder="Phone number" required="">

        <input ng-model="party.size" type="text" id="inputSize" class="form-control" placeholder="Size" required="">
        <button class="btn btn-lg btn-primary" type="submit">Add Party</button>
</form>

<table class="table table-striped table-bordered" ng-submit="removeParty()">
  <thead>
    <tr>
      <th>Done?</th>
      <th>Info</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tr ng-repeat="(key, partyFromDB) in parties">
    <td>
      <input type="checkbox">
    </td>
    <td>
      <div ng-if = "partyFromDB.size == 1">{{partyFromDB.name}} ({{partyFromDB.size}} people)</div>
      <div ng-if = "partyFromDB.size != 1">{{partyFromDB.name}} ({{partyFromDB.size}} peoples)</div>

      <div>{{partyFromDB.phone}}</div>
      <div ng-app ng-controller="MyCtrl2">{{date | date: 'MM/dd/yyyy @ hh:mm'}}</div>
    </td>
    <td>
      <button ng-click="removeRow(key)" type="submit" class="btn btn-danger">Remove</button> 

     <!--  <td><input type="button" data-ng-click="removeRow($index)"/></td> -->
    </td>
  </tr>
</table>


     <!--  {{party}}
      <br>
      {{parties}} -->