<form class="form-inline" role="form" ng-submit="saveParty()">
  <div class="form-group">
    <label class="sr-only" for="partyName">Party Name</label>
    <input ng-model="party.name" type="text" class="form-control" id="partyName" placeholder="Party Name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="phoneNumber">Phone Number</label>
    <input ng-model="party.phone" type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
  </div>
  <div class="form-group">
    <label class="sr-only" for="sizeOfParty">Size of Party</label>
    <input ng-model="party.size" type="text" class="form-control" id="sizeOfParty" placeholder="Size of Party">
  </div>
  <button type="submit" class="btn btn-primary">Add party!!</button>
</form>

{{party}}
<br>
{{parties}}